@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Assessment4Apr17.Models.EditorModel
<h2>
    Design Your Document
</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentTitle" class="control-label"></label>
                <input asp-for="DocumentTitle" class="form-control" />
                <span asp-validation-for="DocumentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentContent" class="control-label"></label>
                <textarea asp-for="DocumentContent" style="width:1100px;height:380px" class="form-control"></textarea>
                <span asp-validation-for="DocumentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>